html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url(bg.jpeg);
}

#logo {
  position: absolute;
  width: 200px;
  height: auto;
  top: 10px;
  z-index: -1;
}

#canvas {
  transform: scale(1.5);
  z-index: 1;
}

#dog {
  position: absolute;
  width: 200px;
  height: auto;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}

#cat {
  position: absolute;
  width: 200px;
  height: auto;
  bottom: 40px;
  left: 20px;
  z-index: 2;
}

.fade-in-out {
  animation: fadeInOut 500ms ease infinite, floatUpDown 1200ms ease infinite;
}

.shake {
  animation: shake 500ms ease infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
